body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.start-game{
  padding: 25px 20px;
  display: block;
  border-radius: 5%;
  margin: auto;
  border: 2px solid #FEF2BF;
  /* border-style: none; */
  color: #FEF2BF;
  background-color: #011F3F;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-family: 'Press Start 2P', cursive;
}

.container {
  display: inline-block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 1122px) and (min-width:750px) {
  .btn{
    height: 120px;
    width: 120px;
    margin: 15px;
  }
  #level-title{
    line-height: 1.5;
    font-size: 2rem;
    margin: 10px;
  }
  .start-game{
    margin-top: 10%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .btn{
    height: 100px;
    width: 100px;
    margin: 7px;
  }
  #level-title{
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .start-game{
    margin-top: 17%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px)  {
  .btn{
    height: 90px;
    width: 90px;
    margin: 5px;
  }
  #level-title{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 60px;
  }
  .start-game{
    margin-top: 15%;
    font-size: 1.5rem;
  }
  .container{
    width: 80%;
  }
}